#!/usr/bin/make -f

export DEB_CFLAGS_SET = -std=gnu99 -Wall -O3 -Os
export DEB_LDFLAGS_SET = -pthread -lpcap

%:
	dh $@

override_dh_auto_install:
	$(MAKE) install DESTDIR=$(PWD)/debian/zizzania prefix=/usr

override_dh_usrlocal:
	
